.btnMiddle {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.btnSpace {
	margin-right: 10px;
}

.checkSpace {
	margin-top: 10px;
}

input.validate.col.s10 {
	padding-left: 15px;
}

.card .card-content .card-title {
	margin-bottom: 20px;
}